## always fresh build to get latest components (weekly base image checks)
## I accept the trade-offs of tying updates of the embedded components 
## to the version cycle of the base docker:cli image

use_cache=0
cache_to='repo_registry'

## TARGET IMAGE
target_image_path='stack4ops/cibuilder'
target_tag='cli'

## TEST
test_backend='docker'

## BUILD
build_client='buildx'
buildx_driver='dockercontainer'

pipeline_mode='build'
additional_tags=''
minor_tag_regex='^(29|30|31|32|33)\.\d+\.\d+\-cli$'
date_tag=''
date_tag_with_time=''
