## BASE IMAGE
# BASE_REGISTRY_USER with CI variable
# base_registry_user=''
# BASE_REGISTRY_PASS with CI masked variable
# base_registry_pass=''

## TARGET IMAGE
target_registry='docker.io'
target_registry_user=''
target_registry_pass=''
target_image_path='stack4ops/cibuilder'
target_tag='cli'

## BUILD
pipeline_mode='build'
additional_tags=''
minor_tag_regex='^(29|30|31|32|33)\.\d+\.\d+\-cli$'
date_tag=''
date_tag_with_time=''